{% extends 'budget_app/base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-[70vh] text-center px-4 py-8 sm:py-12">

  <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-3 sm:mb-4 text-[#d8fffb]">
    Welcome to Personal Budget Tracker
  </h1>
  
  <p class="text-sm sm:text-base md:text-lg text-[#b1b1b1] mb-5 sm:mb-6">
    Manage your income and expenses easily.
  </p>

  {% if not request.user.is_authenticated %}
  <div class="flex flex-col items-center gap-4 text-center mt-8 sm:mt-10 w-full max-w-sm sm:max-w-md p-4 sm:p-6">
    <p class="text-[#d8fffb] text-sm sm:text-base">
      Register to manage your wealth properly.
      <a href="{% url 'register' %}" class="text-[#00dac6] hover:underline font-semibold">
        Register here.
      </a>
    </p>

    <div class="absolute bottom-10 text-[#a4a4a4] text-xs sm:text-sm">
      Already have an account?
      <a href="{% url 'login' %}" class="text-[#00dac6] hover:underline font-semibold">
        Sign In
      </a>
      to view your wealth.
    </div>
  </div>
  {% else %}
  <a href="{% url 'dashboard' %}"
    class="text-[#00dac6] hover:underline font-semibold text-sm sm:text-base mt-5 sm:mt-6">
    Go to Dashboard
  </a>
  {% endif %}

</div>
{% endblock %}
