{% extends 'budget_app/base.html' %}

{% block content %}
<div class="max-w-sm sm:max-w-lg md:max-w-2xl mx-auto mt-6 sm:mt-10 bg-[#1b1b1b] shadow-md rounded-md p-4 sm:p-6 md:p-8 text-xs sm:text-sm md:text-base">
  <h2 class="text-lg sm:text-lg md:text-xl font-bold mb-4 sm:mb-6 text-center text-white">Update Entry</h2>

  <form method="POST" class="space-y-4 sm:space-y-5 md:space-y-6">
    {% csrf_token %}

    {% for field in form %}
      <div class="flex items-center gap-3">
        <label class="min-w-[80px] sm:min-w-[100px] text-[#a4a4a4] font-semibold">{{ field.label }}</label>
        <div class="flex-1">{{ field }}</div>
      </div>
      {% if field.errors %}
        <p class="text-red-500 text-xs mt-1 ml-[80px] sm:ml-[100px]">{{ field.errors }}</p>
      {% endif %}
    {% endfor %}

    <div class="flex flex-row justify-center gap-2 sm:gap-3 mt-3 sm:mt-5 text-[10px] sm:text-xs">
      <button type="submit"
        class="w-1/2 sm:w-auto text-center text-sm sm:text-xs md:text-base bg-[#00dac6] hover:bg-[#00c7ab] hover:text-white text-black font-semibold py-1 px-3 sm:px-4 rounded transition duration-300">
        Update
      </button>
      <a href="{% url 'history' %}"
        class="w-1/2 sm:w-auto text-center text-sm sm:text-xs md:text-base bg-[#28282a] hover:bg-transparent text-[#00dac6] font-semibold py-1 px-3 sm:px-4 rounded transition duration-300">
        Cancel
      </a>
    </div>
  </form>
</div>
{% endblock %}
